:root {
  /* === COLORS === */
  --body-color: #ccc;
  --container-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}
img {
  width: 100%;
  height: auto;
}
body {
  background-color: var(--body-color);
}
.container {
  width: 40%;
  border: 4px solid white;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.container .thumbnail {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}
.container .thumbnail .thumb {
  border: 2px solid white;
  width: 33.333666444444444%;
}
.container .thumbnail .thumb:hover {
  opacity: 0.7;
  cursor: pointer;
}
.fade {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}
.active {
  opacity: 0.7;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
